<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
  <div class="my-auto">
    <h1 class="mb-0">Robin
      <span class="text-primary">Börjesson</span>
    </h1>
    <div class="subheading mb-5">Fritiof Anderssons gata 17 · 41767 Gothenburg · +46 723 150650 ·
      <a href="mailto:robin.b@outlook.com">robin.b@outlook.com</a>
    </div>
    <p class="lead mb-5">I am a former mechanical engineer turned software developer. I love the instant feedback and creative process inherent to coding, and I want to use this passion to build great solutions to interesting problems.</p>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/robin-b%C3%B6rjesson/">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://github.com/Rinbo">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://twitter.com/BorjessonR">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.facebook.com/robindjuret">
        <i class="fab fa-facebook-f"></i>
      </a>
    </div>
  </div>
</section>