<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
  <div class="my-auto">
    <h2 class="mb-5">Education</h2>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Craft Academy</h3>
        <div class="subheading mb-3">Software Development</div>
        <div>Computer Science - Web Development Track</div>        
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">July 2018 - November 2018</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Chalmers University of Technology</h3>
        <div class="subheading mb-3">Master of Science</div>
        <div>Mechanical Engineering</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">August 2003 - May 2008</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Military Service</h3>
        <div class="subheading mb-3">Second Lieutenant</div>
        <div>Leadership training in the Swedish Armed Forces. Commander of Combat Vehicle 90</div>        
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">June 2001 - September 2002</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Gothenburg Technical High School</h3>
        <div class="subheading mb-3">Technology and Natural Sciences</div>        
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">August 1998 - June 2001</span>
      </div>
    </div>    

  </div>
</section>